.ass .base {
  position: relative;
  font-size: 7px;
  color: grey;
  -webkit-border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=5);
}

.margins {
  margin-right: -13px;
}

.margins2 {
  margin-right: -13px;
}

.ass .base.first {
  top: 1px;
  left: 0px;
}

.ass .base.second {
  top: -3px;
  left: -6px;
}

.ass .base.third {
  top: 1px;
  left: -12px;
}

.ass .bases_container {
  margin: 0 auto;
  width: 39px;
  height: 32px
}

.ass .base.active {
  color: #fbbb00;
}

.ass .base.active.fantasyplayer {
  color: #bcf000;
}


/*@media screen and (max-width: 568px) {
  .ass .base {
    position: relative;
    width: 6px;
    height: 6px;
  }
}
*/
