<div ng-repeat="player in players">
  {{getGameDetails(player.gameId)}}
  <div class="row" ng-class="{ 'at-bat' : (playersUpToBat.indexOf(player.player_id) != -1 && currentGame.status != 'P' && currentGame.status != 'F'&& currentGame.status != 'S'), 'on-deck' : (playersOnDeck.indexOf(player.player_id) != -1 && currentGame.status != 'P' && currentGame.status != 'F'&& currentGame.status != 'S'), 'in-hole' : (playersInTheHole.indexOf(player.player_id) != -1 && currentGame.status != 'P' && currentGame.status != 'F'&& currentGame.status != 'S')}">
    <div class=" col-xs-1 player-row">
      <img class="team-logo removeMargins" src="http://mlb.mlb.com/images/logos/42x50/{{player.team_file_code}}.png" />
    </div>
    <div class="col-xs-1 player-row removeLeftPad">
      <img class="player-picture removeMargins" src="http://gdx.mlb.com/images/gameday/mugshots/mlb/{{player.player_id}}@2x.jpg" />
    </div>
    <div class="col-xs-10 player-row removeLeftPad">
      <div class="row removeMargins">
        <div class="col-xs-9 no-pad">
          <div>
            <b class="player-details">{{player.player_name}}, {{player.slot}}</b>
            <status></status>
            <playerstatus batters="allGames" player="player"></playerstatus>
            <img src="..\FantasyBaseball\images\pictures\Injury.jpg" class="injury-symbol" ng-if="injuryDetails(player.player_id)" title="{{injuryInfo}}" ng-click="getInjuryUpdate(player.player_id)">
          </div>
        </div>
        <div class="no-pad points">Points:<span ng-attr-id="{{player.gameId}}{{player.player_id}}">{{getHittersScore(player.player_id,player.gameId)}}</span>
        </div>
      </div>
      <div class="row removeMargins">
        <div class="col-xs-10 ">{{hittingStats(player.player_id, player.gameId)}}</div>
      </div>
    </div>
  </div>
</div>
