.lineup .removeMargins {
  font-size: 20px;
}

.lineup .removeMargins {
  margin-right: 0px;
  margin-left: 0px;
}

.lineup .no-pad {
  padding-right: 0px;
  padding-left: 0px;
}

.lineup .player-picture {
  width: 62px;
  height: auto;
  /*float: right;*/
}

.lineup .player-row {
  padding-right: 0px;
}

.lineup .removeLeftPad {
  padding-left: 0px
}

.team-logo {
  width: 62px;
  height: 74px;
}

.team-name {
  font-size: 25px;
  color: #0000FF;
  /*text-align: center;*/
  /*vertical-align: center;*/
}

.at-bat {
  background-color: green;
}

.on-deck {
  background-color: yellow;
}

.in-hole {
  background-color: red;
}

.points {
  float: right;
}
