<b class="pregame-info" ng-if="currentGame.status == 'S' || currentGame.status == 'P'">{{currentGame.awayTeamAbb}} @ {{currentGame.homeTeamAbb}} {{currentGame.gameTime}}</b>
<span class="game-info status-info" ng-if="currentGame.status == 'F' || currentGame.status == 'O' || currentGame.status == 'IR' || currentGame.status == 'I'|| currentGame.status == 'MA' || currentGame.status == 'PW'"> 
<span class="game-info pregame-info">{{currentGame.awayTeamAbb}} {{currentGame.awayScore}} {{currentGame.homeTeamAbb}} {{currentGame.homeScore}}</span>
<b class="pregame-info" ng-if="currentGame.status != 'F' && currentGame.status != 'O'  && currentGame.status != 'DR'">{{currentGame.inningState}} {{currentGame.inning}}</b>
</span>
<img class="status-icon" ng-if="currentGame.status == 'F' || currentGame.status =='O'" src='..\FantasyBaseball\images\pictures\Final.jpg' />
<img ng-if="currentGame.status == 'PW'" class="status-icon" src="..\FantasyBaseball\images\pictures\warmUp.jpg" />
<blink ng-if="currentGame.status == 'DR'|| currentGame.status == 'PR'|| currentGame.status == 'DI' || currentGame.status == 'IR' || currentGame.status == 'MA'|| currentGame.status == 'MM'|| currentGame.status == 'DE'">
  <img ng-if="currentGame.status == 'DR'|| currentGame.status == 'DI' || currentGame.status == 'DE'" class="status-icon" src="..\FantasyBaseball\images\pictures\PPD.jpg" />
  <img ng-if="currentGame.status == 'IR'|| currentGame.status == 'PR'" class="status-icon" src="..\FantasyBaseball\images\pictures\Delay.jpg" />
  <img ng-if="currentGame.status == 'MA' || currentGame.status == 'MM'" class="status-icon" src="..\FantasyBaseball\images\pictures\Challenge.jpg" />
</blink>
<!-- span>
  <div class="row joel">
    <div class="col-xs-1">CIN</div>
  </div>
  <div class="row joel">
    <div class="col-xs-1">PIT</div>
  </div>
  </span>
  -->
