.player-section {
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .lineup .removeMargins {
    font-size: 12px;
  }
  .lineup .player-picture {
    width: 35px;
    height: auto;
    float: right;
  }
  .team-logo {
    display: none;
  }
}

@media screen and (max-width: 568px) {
  .lineup .removeMargins {
    font-size: 8.5px;
  }
  .lineup .player-picture {
    width: 25px;
    height: auto;
    float: right;
  }
  .team-logo {
    display: none;
  }
}
